.l input, .school input, .job_title input {
    width: 100%;
}

.mce-widget span {
    display: inline;
}

#achievements .text-box, #conferences .text-box {
    width: 80%;
}

#achievements .removeA, #conferences .removeA {
    width: 10%
}