.l input, .job_title input {
    width: 100%;
}

.school input {
    width: 95%;
}

.mce-widget span {
    display: inline;
}

#achievements .text-box, #conferences .text-box {
    width: 80%;
}

#achievements .removeA, #conferences .removeA {
    width: 10%
}

#education .removeA {
    width: 100%;
}

#education .item {
    border: 2px solid black;
}

.job_title input {
    width: 95%;
}

#workExperience .removeA {
    width: 100%;
}

#workExperience .item {
    border: 2px solid black;
}

#references input {
    width: 50%;
}

.order input:first-of-type {
    width: 5%;
}

.order input:last-of-type {
    width: 80%;
}