<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CvContext" 
         connectionString="data source=.\;initial catalog=CvManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />
    <add name="CvContext2" 
         connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=CvManager.Test;Persist Security Info=True;User ID=luke.elliott;Password=database5;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
</configuration>