
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <title>Elizabeth L. Knox</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//getbootstrap.com/examples/cover/cover.css">

    <link rel="icon" type="image/png" href="/favicon.ico" />

</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">Elizabeth L. Knox</h1>
                    <p class="lead">watch this space...</p>
                </div>

            </div>

        </div>

    </div>

</body>

</html>

